html{
  font-family: "Archivo";
}
img{
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 0;
  background-color: rgb(253, 247, 234);
}

.background {
  z-index: -1;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  width: 100%;
  background-image: url("/images/back.jpeg")
}
.navback{
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}
h4 {
  font-size: 25px;
  color: white;
}
.home-p{
  font-size: 20px;
  text-align: center;
  justify-content: center;
}
.text-center{
  text-align: center;
  justify-content: center;
}
.center{
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.middle{
  padding-top: 25px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav.nav {
  width: 100%;
  color: #fff;
  padding-right: 20px;
}
li {
  font-size: 20px;
}
.no-dec{
  text-decoration: none;
  color:black;
}

.home-button {
  width:200;
  height:50;
  margin:0 auto;
}
link{
  color:white;
}
.navlist{
  color: white;
}

.color-text {
  color: #334992;
}

.btn{
  color: #fff;
  background-color: #334992;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #6e8fcc;
}

.row > div{
  opacity: 2;
  line-height: 60px;
}

.row{
  margin: 40px auto;
}
.row-intro{
  justify-content: center;
  text-align: center;
  align-content: center;
  margin-bottom: 0;
}




.material-icons{
  font-size: 40px;
}

.card{
  background-color: transparent !important;
}
.card-content{
  background-color: none !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #334992 !important;
  box-shadow: 0 1px 0 0 #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #334992 !important;
  border-bottom: 1px solid #334992 !important;
}

.slider{
  justify-content: center;
  align-content: center;
  align-items: center;
}

.slide {
  height: 600px;
  width: auto;
  margin: 0 auto;
  background-size: cover;
  box-shadow: 2px 0 5px 3px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

.heading{
  color:white;
  text-shadow: 2px 0 5px 3px rgba(63, 63, 68, 0.05),
  0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

.greeting {
  color:white;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-row{
  padding-left: 200px;
  padding-top: 40px;
}

.footer{
  bottom: 0;
  width: 100%;
  background-color: #334992;
  color: white;
  height: 80px;
}

.ms-blockquote{
  word-spacing: 5px;
}

.fas{
  color: #334992;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.ms-card{
  padding-top: 20px;
  padding-bottom: 20px;
}
span{
  padding: 10px;
}

.react-datepicker__month-container{
  width: 300px;
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

.scale-up-center {
	-webkit-animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite ;
	        animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite ;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */

.flip-vertical-right {
	-webkit-animation: flip-vertical-right 5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite both;
	        animation: flip-vertical-right 5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite both;
}

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}